@use 'styles/utilities' as *;

.jinput {
  padding: .5rem;
  font-size: inherit;

  border: 1px solid getDark(5);
  border-radius: .5rem;
  background: linear-gradient(0, getWhite(5), getWhite(-5));

  width: 100%;
  height: fit-content;
}