@use 'styles/utilities' as *;

.endpointInfo {
  .infoTitle {
    color: getGreen(0);
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, getGreen(0), getGreen(-5), getGreen(0));

    h1:first-letter {
      text-transform: capitalize;
    }
  }

  .infoList {
    .listItem {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: .5rem;

      .itemEdit, .itemText {
        padding: .5rem;
      }
    }
  }
}